# Binaries for programs and plugins
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea/
.vscode/

test/acceptance/node_modules
parcel-react/dist
parcel-react/node_modules
parcel-react/.cache

web/node_modules/
web/.cache/
web/dist/
web/*.lock
web/src/index.html
web/lib
web/*.log

manifest.yml
.ibm-project