<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne" aria-expanded="true">
            Register new
          </button>
        </h5>
      </div>

      <form id="mainForm">
        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="name" class="">Inbound item name</label>
                  <input type="text" class="form-control" id="name" />
                  <div id="nonempty" class="invalid-feedback">
                    Please choose a valid type name
                  </div>
                  <div id="unique" class="invalid-feedback">
                    Please choose a unique type name
                  </div>
                </div>
              </div>
            </div>
            <div class="row pb-4">
              <div class="col-md-12">
                <button type="submit" id="inventoryPageSubmitButton" disabled class="btn btn-secondary">
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row pt-3">
    <div class="col-md-12">
      <table id="inventoryTable" class="table table-hover table-bordered cursor-pointer">
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" id="openModalBtn">
        Edit record
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="inventoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close close-modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              ID: <span id="modalID" class="pl-1" />
            </div>
            <div class="col-md-12">
              Name: <span id="modalName" class="pl-1" />
            </div>
            <div class="col-md-6">
              <div class="btn-group-sm" role="group" aria-label="Item status">
                <button type="button" class="btn" id="enabledItem">Enabled</button>
                <button type="button" class="btn" id="disabledItem">Disabled</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-modal">Done</button>
      </div>
    </div>
  </div>
</div>