<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            New sale
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="orderRecipe" class="">Outbound product<br /></label>
                <select class="form-control custom-select" id="orderRecipe">
                  <option selected="">Choose one</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="orderQty" class="">Count<br /></label>
                <input type="number" class="form-control" id="orderQty" />
                <div id="errQty" class="invalid-feedback">
                    Please choose a valid quantity
                  </div>
              </div>
            </div>
          </div>
          <div class="row pb-4">
            <div class="col-md-12">
              <button id="placeOrder" class="btn btn-secondary" disabled="">Sell</button>
              <div id="errStock" class="invalid-feedback">
                Not enough stock
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row pt-3">
    <div class="col-md-12">
      <table id="orderTable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Count</th>
          </tr>
          <tbody></tbody>
        </thead>
      </table>
    </div>
  </div>
</div>