
<main role="main" class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>{{title}}</h2>
        <p class="lead">{{description}}</p>
    </div>
</main>
<div class="container">
    <div class="row pb-4">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
            {{#sections}}
               {{> partial/section}}
            {{/sections}}
            </ul>
        </div>
    </div>
</div>