<head>
    <meta charset="utf-8" content="">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <title>{{ .Params.Title }}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    {{- $css := "" -}}
    {{- range site.Params.assets.css -}}
        {{- $customcss := resources.Get . -}}
        {{- if $customcss -}}
            {{- if eq $css "" -}}
                {{- $css = $customcss -}}
            {{- else -}}
                {{- $css = slice $css $customcss | resources.Concat (printf "%s.tmp_custom.css" .) -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- if ne $css "" -}}
        {{- $corecss := slice $css ("" | resources.FromString "css/_core.css") | resources.Concat "css/core.css" -}}
        {{- $corecss = $corecss | resources.Minify | resources.Fingerprint "sha384" -}}
    <link href="{{- $corecss.RelPermalink -}}" integrity="{{- $corecss.Data.Integrity -}}" rel="stylesheet" />
    {{- end -}}
</head>