<div class="header">
    <main role="main" class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
                alt="" width="72" height="72">
            <h2>Inventory</h2>
            <p class="lead">Add or remove items</p>
        </div>

        <div class="py-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active disabled" href="#">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="config.html">Finished products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stock.html">Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="outbound.html">Outbound</a>
                  </li>
            </ul>
        </div>

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
