<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

{{> partial/head}}

<body class="bg-light">

{{> partial/header}}

    <div class="container">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne">
                New sale
              </button>
            </h5>
          </div>

          <div
            id="collapseOne"
            class="collapse hide"
            aria-labelledby="headingOne"
            data-parent="#accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="outboundItemType" class=""
                      >Outbound product<br
                    /></label>
                    <select
                      class="form-control custom-select"
                      id="outboundItemType">
                      <option selected="">Choose one</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                    <label for="count" class="">Count<br /></label>
                    <input type="number" class="form-control" id="count" />
                  </div>
                </div>
              </div>
              <div class="row pb-4">
                <div class="col-md-12">
                  <button id="sell" class="btn btn-secondary">Sell</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row pt-3">
        <div class="col-md-12">
          <table id="outboundList" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Time</th>
                <th>Name</th>
                <th>Count</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>


{{> partial/footer}}

<script>
$(document).ready(function() {
    var outboundTable = $("#outboundList").DataTable({
        ajax: "http://127.0.0.1:8080/outbound",
        columns: [{"data": "date"}, {"data": "name"}, {"data": "qty", "searchable": false}]
    });

    var dropDown = $("#outboundItemType")
    var reloadItemNameList = function() {
        $.ajax({
            type: "GET",
            url: '/outbound/config',
            accept: "application/json",
            success: function (data) {
                let items = data.data;
                if (items) {
                    dropDown.empty();
                    items.map(function (item) {
                        dropDown.append(new Option(item.name));
                    })
                }
            },
            error: function (resp) {
                console.log(resp.statusText)
            }
        });
    };

    reloadItemNameList();

    $("#sell").on('click', function () {
        var name = dropDown.val()
        var qty = $("#count").val()
        if (!name || !qty) {
            console.log("name and quantity mandatory")
            return
        }
        var payload = {
            name: name,
            qty: Number.parseInt(qty)
        };
        $.ajax({
            type: "POST",
            url: '/outbound',
            data: JSON.stringify(payload),
            contentType: "application/json",
            success: function() {
                outboundTable.ajax.reload();
                reloadItemNameList()
            },
            error: function(resp) {
                console.log(resp.statusText)
            }
        });
    })
});
</script>
</body>

</html>